<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patron">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controllers.global.CreateUserActivity"></activity>
        <activity android:name=".Controllers.ptg.AddExamActivity" />
        <activity android:name=".Controllers.ptr.PatronSideProtegesExamsActivity" />
        <activity android:name=".Controllers.ptr.AssignProtegeActivity" />
        <activity android:name=".Controllers.ptr.ProtegesListActivity" />
        <activity android:name=".Controllers.global.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>